In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/paulineattal/Disney-Text-Mining/main/fichiers/Scrapping_Newport_Bay_Club_071222.csv",sep=';')

In [6]:
df_mois_sejour=df['reservation_type'].map(str)
for i in range(df.shape[0]):
    df_mois_sejour[i]=df_mois_sejour[i].split()[3]
print(df_mois_sejour)

0       Septembre
1        Novembre
2        Novembre
3        Novembre
4        Novembre
          ...
2280      Janvier
2281     Décembre
2282      Janvier
2283      Janvier
2284     Décembre
Name: reservation_type, Length: 2285, dtype: object

In [7]:
df_annee_sejour=df['reservation_type'].map(str)
for i in range(df.shape[0]):
    df_annee_sejour[i]=df_annee_sejour[i].split()[4]
print(df_annee_sejour)

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
2280    2020
2281    2019
2282    2020
2283    2020
2284    2019
Name: reservation_type, Length: 2285, dtype: object

In [9]:
from time import strptime
import locale
locale.setlocale(locale.LC_TIME,'')


list_mois_num = [strptime(mois_sejour,'%B').tm_mon for mois_sejour in df_mois_sejour]

d = {'mois_str': df_mois_sejour, 'mois_num': list_mois_num, 'année' : df_annee_sejour}
df = pd.DataFrame(data=d)
df
#possibilité de rajouter num semaine, ou autres info ??

       mois_str  mois_num année
0     Septembre         9  2022
1      Novembre        11  2022
2      Novembre        11  2022
3      Novembre        11  2022
4      Novembre        11  2022
...         ...       ...   ...
2280    Janvier         1  2020
2281   Décembre        12  2019
2282    Janvier         1  2020
2283    Janvier         1  2020
2284   Décembre        12  2019

[2285 rows x 3 columns]