In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import sklearn

In [2]:
import os
os.chdir(r"C:\Users\cornuch\Desktop\SISE\Text_mining\projet_disney")

In [3]:
df=pd.read_csv('df_clean_newport.csv',sep=';')

In [4]:
df.head()

,index,Names,Country,room_type,nuitee,reservation_date,traveler_infos,date_review,review_title,grade_review,...,negative_review,usefulness_review,hotel,level_grade_review,level_hotel,month_str,month_num,year,delay_comment,date
0,0,Ludovic,La Réunion,Chambre Supérieure - Côté Lac,2,Octobre 2022,Famille,9 octobre 2022,Inoubliable,10.0,...,NaN,0,Disney's Newport Bay Club,2,6,octobre,10,2022,0,2022-10-09
1,1,Julien,France,Chambre Supérieure,1,Décembre 2022,Couple,15 décembre 2022,Très bien,8.0,...,R.a.s,0,Disney's Newport Bay Club,2,6,décembre,12,2022,0,2022-12-15
2,2,Celine,France,Chambre Supérieure,2,Décembre 2022,Famille,14 décembre 2022,Agréable,6.0,...,NaN,0,Disney's Newport Bay Club,1,6,décembre,12,2022,0,2022-12-14
3,3,Diego,France,Chambre Supérieure,1,Novembre 2022,Famille,30 novembre 2022,Agréable,6.0,...,"la qualité de la chambre n’était pas top, vieu...",0,Disney's Newport Bay Club,1,6,novembre,11,2022,0,2022-11-30
4,4,Fabienne,Belgique,Chambre Supérieure,1,Novembre 2022,Famille,18 novembre 2022,déçue qualité prix,6.0,...,la propreté,0,Disney's Newport Bay Club,1,6,novembre,11,2022,0,2022-11-18

In [5]:
df.shape

(2272, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2272 entries, 0 to 2271
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               2272 non-null   int64
 1   Names               2272 non-null   object
 2   Country             2270 non-null   object
 3   room_type           2126 non-null   object
 4   nuitee              2272 non-null   int64
 5   reservation_date    2272 non-null   object
 6   traveler_infos      2272 non-null   object
 7   date_review         2272 non-null   object
 8   review_title        2270 non-null   object
 9   grade_review        2272 non-null   float64
 10  positive_review     627 non-null    object
 11  negative_review     494 non-null    object
 12  usefulness_review   2272 non-null   int64
 13  hotel               2272 non-null   object
 14  level_grade_review  2272 non-null   int64
 15  level_hotel         2272 non-null   int64
 16  month_str           2272 non-null   object
 17  month_num           2272 non-null   int64
 18  year                2272 non-null   int64
 19  delay_comment       2272 non-null   int64
 20  date                2272 non-null   object
dtypes: float64(1), int64(8), object(12)
memory usage: 372.9+ KB

# Moyennes des notes selon les catégories

In [7]:
df_select3=df[df.hotel=="Disney's Newport Bay Club"]
df_select2=df[(df.hotel=="Disney's Newport Bay Club") & (df.level_grade_review==2)]
df_select1=df[(df.hotel=="Disney's Newport Bay Club") & (df.level_grade_review==1)]
df_select0=df[(df.hotel=="Disney's Newport Bay Club") & (df.level_grade_review==0)]

In [8]:
def mean_mark(n,k):
    if k==3:
        note=df[df.level_hotel==n].grade_review.mean()
    else :
        note=df[(df.level_hotel==n) & (df.level_grade_review==k)].grade_review.mean()
    return note

In [9]:
round(mean_mark(6,3),3)

7.4

In [10]:
round(mean_mark(6,2),3)

9.106

In [11]:
round(mean_mark(6,1),3)

6.662

In [12]:
round(mean_mark(6,0),3)

3.581

In [13]:
#Ecart-type
print(round(df_select3.grade_review.std(),3))
print(round(df_select2.grade_review.std(),3))
print(round(df_select1.grade_review.std(),3))
print(round(df_select0.grade_review.std(),3))

2.396
0.861
0.528
1.453

# Délai entre commentaires et réservation

In [14]:
df_delaisup=df[df.delay_comment>=2]

In [15]:
#moyenne des notes des personnes ayant mis un commentaire avec plus de délai
round(df_delaisup['grade_review'].mean(),3)

8.237

In [16]:
#pourcentage de délai dans les commentaires sur l'ensemble des individus
round(len(df[df.delay_comment>=2])*100/df.shape[0],3)

3.477

# Type de séjour

In [17]:
df['traveler_infos'].value_counts()

Famille                1610
Couple                  453
Groupe                  159
Voyageur individuel      50
Name: traveler_infos, dtype: int64

In [98]:
d1=df.groupby(['traveler_infos'])[['index','Country']].count()*100/df.shape[0]
d1=d1.rename(columns={"index": "pourcentages"})

In [99]:
d1

                     pourcentages    Country
traveler_infos
Couple                  19.938380  19.894366
Famille                 70.862676  70.818662
Groupe                   6.998239   6.998239
Voyageur individuel      2.200704   2.200704

In [100]:
d2=df.groupby(['traveler_infos'])[['grade_review','nuitee']].mean()

In [101]:
d2

                     grade_review    nuitee
traveler_infos
Couple                   7.987638  1.403974
Famille                  7.184037  1.722360
Groupe                   7.965409  1.553459
Voyageur individuel      7.234000  1.680000

In [102]:
df_sejour=pd.merge(d1,d2,on='traveler_infos')

In [103]:
var=['pourcentages','grade_review']
round(df_sejour[var],3)

                     pourcentages  grade_review
traveler_infos
Couple                     19.938         7.988
Famille                    70.863         7.184
Groupe                      6.998         7.965
Voyageur individuel         2.201         7.234

# Nombre de nuitées

In [ ]:
nuitees=df['nuitee'].value_counts()

In [ ]:
nuitees

In [ ]:
nuitees=nuitees.to_frame()
nuitees = nuitees.reset_index()

In [ ]:
import plotly.express as px
fig = px.bar(nuitees, x='index', y='nuitee', title="Nombre de nuits par durée du séjour")
fig.show()

In [ ]:
#Créer groupes
grouper = df.groupby(['year','month_str'])

#Filtrer colonne et appliquer l'aggrégation
grouper['nuitee'].sum().reset_index()

In [ ]:
grouper[['positive_review','negative_review']].count().reset_index()

In [ ]:
fig = px.sunburst(df, path=['year', 'month_str'], values='nuitee',
                  color='grade_review',
                  color_continuous_scale='RdBu',
                  color_continuous_midpoint=np.average(df['grade_review'], weights=df['nuitee']))
fig.show()

In [ ]:
#df_select=df[((df.year=='2021')&((df.month_str=='décembre')|(df.month_str=='novembre')))|((df.year=='2022')&(df.month_str=='janvier'))]

# Pays

In [ ]:
#recherche des personnes n'ayant pas indiqué "Country"
df[df['Country'].isna()]

In [ ]:
pays=df.Country.value_counts()

In [ ]:
pays10=pays.head(10)

In [ ]:
pays_pourcent=df['Country'].value_counts()*100/df.shape[0]
pays_poucent=pays_pourcent.to_frame()
pays_pourcent=pays_pourcent.reset_index()

In [ ]:
pays_top15_pourcent=pays_pourcent.head(15)
pays_top15_pourcent

In [ ]:
fig = px.bar(pays_top15_pourcent,x='index', y='Country', title="Fréquence pour les 15 pays les plus représentés",labels={'index':'Pays','Country':'Pourcentage'})
fig.show()

# Profiling

In [ ]:
!pip install pandas_profiling

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
profile = ProfileReport(df, title='Analyse du fichier Newport hotel', html={'style':{'full_width':True}})
profile.to_notebook_iframe()

In [ ]:
#profile.to_json()

In [ ]:
#profile.to_file(output_file="newport.html")