In [3]:
import psycopg2

# Oracle

# MySQL

# PostgreSQL

In [ ]:
#https://waytolearnx.com/2020/06/connexion-a-une-base-de-donnees-postgresql-en-python.html

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/paulineattal/Disney-Text-Mining/main/fichiers/df_clean.csv",sep=';')

## create and insert tables

In [5]:
import psycopg2
try:
    conn = psycopg2.connect(
          user = "m139",
          password = "m139",
          host = "db-etu.univ-lyon2.fr",
          port = "5432",
          database = "m139"
    )
    
    cur_create = conn.cursor()
    sql_create = '''CREATE TABLE person(
        ID INT PRIMARY KEY NOT NULL,
        name TEXT NOT NULL,
        address TEXT NOT NULL
      ); '''
    cur_create.execute(sql_create)
    
    cur_insert = conn.cursor()
    sql_insert = """INSERT INTO person (id, name, address) VALUES (%s,%s,%s)"""
    value = (1, 'Alex', 'Paris')
    cur_insert.execute(sql_insert, value)
    
    conn.commit()
    print ("enregistrement inséré avec succès dans la table person.")
    print("Table créée avec succès dans PostgreSQL")
    
  
    #fermeture de la connexion à la base de données
    cur.close()
    conn.close()
    print("La connexion PostgreSQL est fermée")
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de l'insertion dans la table person", error)

Erreur lors de l'insertion dans la table person relation "person" already exists

## get tables

In [ ]:
try:
    conn = psycopg2.connect(
          user = "m139",
          password = "m139",
          host = "db-etu.univ-lyon2.fr",
          port = "5432",
          database = "disney"
    )
    cur = conn.cursor()
    sql = "SELECT * FROM table"

    cur.execute(sql)
    res = cur.fetchall()

    cur.close()
    conn.close()
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion à PostgreSQL", error)


#recuperer les donnees de table
    col1 = []
    col2 = []
    col3 = []
    for i in range(0, len(res)):
        col1.append(res[i][0])
        col2.append(res[i][1])
        col3.append(res[i][2])
        
    #regrouper les donnees dans un dataframe pour la construction de la figure 
    table = pd.DataFrame({
        "col1" :  col2,  
        "col2" : col2,
        "col3": col3
    })