In [3]:
import psycopg2
import pandas as pd
import psycopg2.extras as extras
import os
from os import listdir
from os.path import isfile, join

In [8]:
os.chdir("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables")
mypath = os.getcwd()


client = pd.read_csv(str(mypath)+"/client.csv",sep=';')
date = pd.read_csv(str(mypath)+"/date.csv",sep=';')
hotel = pd.read_csv(str(mypath)+"/hotel.csv",sep=';')
room = pd.read_csv(str(mypath)+"/room.csv",sep=';')
reservation = pd.read_csv(str(mypath)+"/reservation.csv",sep=';')

# Oracle

In [88]:
#??
#compass club 
#empire state club

# MySQL

In [89]:
#??

# PostgreSQL

In [90]:
#https://waytolearnx.com/2020/06/connexion-a-une-base-de-donnees-postgresql-en-python.html

In [10]:
conn = psycopg2.connect(
          user = "m139",
          password = "m139",
          host = "db-etu.univ-lyon2.fr",
          port = "5432",
          database = "m139"
    )

# execute request

In [14]:
def execute_req(conn, req):
    try: 
        cursor = conn.cursor()
        cursor.execute(req)
        conn.commit()
        cursor.close()
    except (Exception, psycopg2.Error) as error :
        print ("Erreur lors de la cr√©ation du table PostgreSQL", error)

# drop

In [15]:
sql_drop_reservation = '''DROP TABLE reservation; '''
execute_req(conn, sql_drop_reservation)

In [16]:
sql_drop_date = '''DROP TABLE date; '''
execute_req(conn, sql_drop_date)

In [17]:
sql_drop_client = '''DROP TABLE client; '''
execute_req(conn, sql_drop_client)

In [18]:
sql_drop_room = '''DROP TABLE room; '''
execute_req(conn, sql_drop_room)

In [19]:
sql_drop_hotel = '''DROP TABLE hotel; '''
execute_req(conn, sql_drop_hotel)

## create tables

In [21]:
sql_create_hotel = '''CREATE TABLE HOTEL(
    id_hotel TEXT PRIMARY KEY NOT NULL,
    hotel VARCHAR(100)
  ); '''

execute_req(conn, sql_create_hotel)

In [22]:
sql_create_room = '''CREATE TABLE ROOM(
    id_room TEXT PRIMARY KEY NOT NULL,
    room_type TEXT,
    id_hotel TEXT,
    CONSTRAINT ROOM_ibfk_1 FOREIGN KEY (id_hotel) REFERENCES HOTEL(id_hotel)
  ); '''
execute_req(conn, sql_create_room)

In [23]:
sql_create_client = '''CREATE TABLE CLIENT(
    "id_client" TEXT PRIMARY KEY NOT NULL,
    country TEXT,
    nb_night INT,
    traveler_infos TEXT,
    review_title TEXT, 
    positive_review TEXT,
    negative_review TEXT, 
    usefulness_review TEXT
  ); '''
execute_req(conn, sql_create_client)

In [24]:
sql_create_date = '''CREATE TABLE DATE(
    id_date TEXT PRIMARY KEY NOT NULL,
    month_str TEXT,
    year INT,
    month_num INT,
    date DATE
  ); '''
execute_req(conn, sql_create_date)

In [25]:
sql_create_res = '''CREATE TABLE RESERVATION(
    id_reservation TEXT PRIMARY KEY NOT NULL,
    grade_review FLOAT,
    level_grade_review INT,
    id_room TEXT,
    id_date TEXT,
    id_client TEXT,
    CONSTRAINT RESERVATION_ibfk_1 FOREIGN KEY (id_room) REFERENCES ROOM(id_room),
    CONSTRAINT RESERVATION_ibfk_2 FOREIGN KEY (id_date) REFERENCES DATE(id_date),
    CONSTRAINT RESERVATION_ibfk_3 FOREIGN KEY (id_client) REFERENCES CLIENT(id_client)
  ); '''
execute_req(conn, sql_create_res)

# insert values

In [26]:
def insert_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

In [27]:
insert_values(conn, date, 'date')

the dataframe is inserted

In [28]:
insert_values(conn, hotel, 'hotel')

the dataframe is inserted

In [29]:
insert_values(conn, room, 'room')

the dataframe is inserted

In [30]:
insert_values(conn, client, 'client')

the dataframe is inserted

In [31]:
insert_values(conn, reservation, 'reservation')

Error: duplicate key value violates unique constraint "reservation_pkey"
DETAIL:  Key (id_reservation)=(cd7bb95e-305e-45ac-a69e-027cf589187f) already exists.

1

## get tables

In [41]:
try:
    conn = psycopg2.connect(
          user = "m139",
          password = "m139",
          host = "db-etu.univ-lyon2.fr",
          port = "5432",
          database = "m139"
    )
    cur = conn.cursor()
    reservation = "SELECT * FROM reservation"
    client = "SELECT * FROM client"
    hotel = "SELECT * FROM hotel"
    room = "SELECT * FROM room"
    date = "SELECT * FROM date"

    cur.execute(reservation)
    reservation = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
    cur.execute(client)
    client = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
    cur.execute(hotel)
    hotel = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
    cur.execute(room)
    room = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
    cur.execute(date)
    date = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])

    cur.close()
    conn.close()
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion √† PostgreSQL", error)


hotel_room = hotel.merge(room, on="id_hotel")
res_client = reservation.merge(client, on="id_client")
res_client_date = res_client.merge(date, on="id_date")
df = res_client_date.merge(hotel_room, on="id_room")

,id_reservation,grade_review,level_grade_review,id_room,id_date,id_client,country,nb_night,traveler_infos,review_title,positive_review,negative_review,usefulness_review,month_str,year,month_num,date,id_hotel,hotel,room_type
0,e2f7f128-60d0-4262-a3b4-85c8296e8e7f,10.0,2,4e6a65e7-b98b-4a6b-8685-f3f0d2bc6387,20221001,30a40a08-3cd8-44c4-a11e-d8c157241dfd,La R√©union,2,Famille,Inoubliable,Le petit d√©jeuner et l'excellent buffet pour l...,NaN,NaN,octobre,2022,10,2022-10-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Sup√©rieure - C√¥t√© Lac
1,94f75fd8-78f1-4d28-8b15-927452633c15,5.0,0,4e6a65e7-b98b-4a6b-8685-f3f0d2bc6387,20221001,e6cbd030-fe06-4de2-a8af-1bb41139c0f4,France,1,Groupe,tres bon s√©jour,"La proximit√© du parc, le d√©cor et th√®me de l‚Äôh...","chambre tr√®s loin de l‚Äôentr√©e, j‚Äôai du travers...",NaN,octobre,2022,10,2022-10-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Sup√©rieure - C√¥t√© Lac
2,04cb3f22-d979-4b63-8dd0-c91e55972cae,8.0,2,4e6a65e7-b98b-4a6b-8685-f3f0d2bc6387,20221001,9c93724c-03fc-4d96-a2af-b0e68f2b14e9,France,1,Famille,Bien,Tout le reste une fois rentr√© et pass√© la s√©cu...,"La s√©curit√© ext√©rieure devant l'h√¥tel ,les age...",NaN,octobre,2022,10,2022-10-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Sup√©rieure - C√¥t√© Lac
3,aa1676ec-385d-40bc-9f5b-86105841a092,9.0,2,4e6a65e7-b98b-4a6b-8685-f3f0d2bc6387,20221001,e14a317b-80b4-4b23-84a6-d9187245bbc0,France,1,Couple,une belle exp√©rience Disney,ayant obtenu une chambre m√©diocre l‚Äô√©tablissem...,les chambres standards ne sont pas super inson...,NaN,octobre,2022,10,2022-10-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Sup√©rieure - C√¥t√© Lac
4,76deccba-eb8a-4b86-b37a-20f5de43e6dd,10.0,2,4e6a65e7-b98b-4a6b-8685-f3f0d2bc6387,20221001,f1ac7372-6598-45b7-a608-1a97c55d47ec,Irlande,1,Famille,S√©jour en famille,La coh√©rence du d√©cor,On devrait pouvoir choisir ch avec bain ou douche,NaN,octobre,2022,10,2022-10-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Sup√©rieure - C√¥t√© Lac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2267,9b6e618f-2f57-484f-9ef9-82b545517aa1,10.0,2,861f1144-1f79-4db3-b117-bf58423f6f1c,20200201,62e7ddec-6c7d-4433-9be4-30cc3d03157b,Japon,3,Famille,D√©cevant,NaN,NaN,NaN,f√©vrier,2020,2,2020-02-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Club Compass (4 Adultes)
2268,7b80b755-cb5b-4bc5-a568-e1e0a165f233,9.0,2,861f1144-1f79-4db3-b117-bf58423f6f1c,20200801,83d62bc3-4fd1-4f43-8de6-a8555c9a5927,Portugal,2,Couple,Fabuleux,NaN,NaN,NaN,ao√ªt,2020,8,2020-08-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Club Compass (4 Adultes)
2269,7395e05e-fc77-43e9-88ea-ca71301ab8b9,9.2,2,918ab8e7-aa42-4cac-b46e-3a6e669e79f2,20200201,0de80282-f735-4734-bc45-3d12b86cf776,Japon,2,Groupe,Passable,NaN,NaN,NaN,f√©vrier,2020,2,2020-02-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Club Compass (1 Adulte + 3 Enfants)
2270,aa31e988-4874-4efc-a7b8-91815d993850,3.0,0,85469dd9-6e3a-4395-bef8-3d4835c74cc2,20200701,b78aeb7c-7478-40af-acc2-aa507c854665,Belgique,1,Groupe,Exceptionnel,NaN,NaN,NaN,juillet,2020,7,2020-07-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Compass Club ‚Äì C√¥t√© Lac (4 Adultes)
2271,94341dd4-f58f-452a-b655-817e4c49448c,9.2,2,85469dd9-6e3a-4395-bef8-3d4835c74cc2,20191201,6c96dd37-8297-473c-a815-c133f0a18748,Chypre,1,Famille,Exceptionnel,NaN,NaN,NaN,d√©cembre,2019,12,2019-12-01,e8418aca-ee35-4888-8c17-fd4c80c38254,Disney's Newport Bay Club,Chambre Compass Club ‚Äì C√¥t√© Lac (4 Adultes)