In [ ]:
import psycopg2

# Oracle

In [ ]:
try:
    conn = psycopg2.connect(
          user = "m139",
          password = "m139",
          host = "db-etu.univ-lyon2.fr",
          port = "5432",
          database = "disney"
    )
    cur = conn.cursor()
    sql = "SELECT * FROM table"

    cur.execute(sql)
    res = cur.fetchall()

    cur.close()
    conn.close()
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion Ã  PostgreSQL", error)


#recuperer les donnees de table
    col1 = []
    col2 = []
    col3 = []
    for i in range(0, len(res)):
        col1.append(res[i][0])
        col2.append(res[i][1])
        col3.append(res[i][2])
        
    #regrouper les donnees dans un dataframe pour la construction de la figure 
    table = pd.DataFrame({
        "col1" :  col2,  
        "col2" : col2,
        "col3": col3
    })

# MySQL

# PostgreSQL