In [104]:
import pandas as pd
from time import strptime
import locale
from datetime import date
import numpy as np

In [32]:
df_newport=pd.read_csv("https://raw.githubusercontent.com/paulineattal/Disney-Text-Mining/main/fichiers/Scrapping_Newport_Bay_Club_071222.csv",sep=';')
#et les autres ...

In [33]:
#fusionnner tous les DF 
df = df_newport

In [26]:
df

,Names,Country,room_type,reservation_type,Duration,traveler_infos,date_review,review_title,grade_review,positive_review,negative_review,usefulness_review,hotel
0,Ganna,Ukraine,Chambre Supérieure - Côté Lac,2 nuits · Septembre 2022,Septembre 2022,Famille,Le choix des voyageurs,Good choice for visiting Disneyland,10,NaN,NaN,Utile Pas utile,Disney's Newport Bay Club
1,Diego,France,Chambre Supérieure,1 nuit · Novembre 2022,Novembre 2022,Famille,Commentaire envoyé le 30 novembre 2022,Agréable,"6,0",la proximité du parc Disneyland Paris,"la qualité de la chambre n’était pas top, vieu...",Utile Pas utile,Disney's Newport Bay Club
2,Fabienne,Belgique,Chambre Supérieure,1 nuit · Novembre 2022,Novembre 2022,Famille,Commentaire envoyé le 18 novembre 2022,déçue qualité prix,"6,0",l emplacement,la propreté,Utile Pas utile,Disney's Newport Bay Club
3,Pierre,France,Chambre Supérieure,1 nuit · Novembre 2022,Novembre 2022,Famille,Commentaire envoyé le 14 novembre 2022,très moyen par rapport au prix,"6,0",très bon personnel dédié mais la sécurité fait...,hôtel très vieillissant et pas de shampoing ge...,Utile Pas utile,Disney's Newport Bay Club
4,Christine,France,Chambre Supérieure,1 nuit · Novembre 2022,Novembre 2022,Famille,Commentaire envoyé le 10 novembre 2022,Très bien,"8,0",La décoration de la chambre est adorable.\nOn ...,La porte ne marchait pas bien.\nQuand on met l...,Utile Pas utile,Disney's Newport Bay Club
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280,Anonyme,Brésil,NaN,2 nuits · Janvier 2020,Janvier 2020,Famille,Commentaire envoyé le 14 janvier 2020,Exceptionnel,10,NaN,NaN,NaN,Disney's Newport Bay Club
2281,Anonyme,Royaume-Uni,NaN,2 nuits · Décembre 2019,Décembre 2019,Couple,Commentaire envoyé le 14 janvier 2020,Fabuleux,"9,2",NaN,NaN,NaN,Disney's Newport Bay Club
2282,Anonyme,Portugal,NaN,2 nuits · Janvier 2020,Janvier 2020,Couple,Commentaire envoyé le 13 janvier 2020,Fabuleux,"9,0",NaN,NaN,NaN,Disney's Newport Bay Club
2283,Anonyme,Japon,NaN,3 nuits · Janvier 2020,Janvier 2020,Famille,Commentaire envoyé le 8 janvier 2020,Décevant,"4,2",NaN,NaN,NaN,Disney's Newport Bay Club
2284,Anonyme,Japon,NaN,2 nuits · Décembre 2019,Décembre 2019,Groupe,Commentaire envoyé le 30 décembre 2019,Passable,"5,0",NaN,NaN,NaN,Disney's Newport Bay Club

# table date

In [97]:
df_mois_sejour=df['reservation_type'].map(str)
for i in range(df.shape[0]):
    df_mois_sejour[i]=df_mois_sejour[i].split()[3]


df_mois_comm=df['date_review'].map(str)
for i in range(df.shape[0]):
    df_mois_comm[i]=df_mois_comm[i].split()[-2]

for i, mois in enumerate(df_mois_comm) : 
    if mois == "des" : 
        df_mois_comm[i] = df_mois_sejour[i]

In [98]:
df_annee_sejour=df['reservation_type'].map(str)
for i in range(df.shape[0]):
    df_annee_sejour[i]=df_annee_sejour[i].split()[4]

df_annee_comm=df['date_review'].map(str)
for i in range(df.shape[0]):
    df_annee_comm[i]=df_annee_comm[i].split()[-1]

for i, annee in enumerate(df_annee_comm) : 
    if annee == "voyageurs" : 
        df_annee_comm[i] = df_annee_sejour[i]

In [136]:
locale.setlocale(locale.LC_TIME,'')
list_mois_num_sejour = [strptime(mois_sejour,'%B').tm_mon for mois_sejour in df_mois_sejour]
list_mois_num_comm = [strptime(mois_comm,'%B').tm_mon for mois_comm in df_mois_comm]


d = {'mois_str': df_mois_sejour, 'mois_num': list_mois_num_sejour, 'année' : df_annee_sejour}
df_date = pd.DataFrame(data=d)
df_date["date"] = pd.to_datetime(dict(year=df_date.année, month=df_date.mois_num, day=1))


d = {'mois_str': df_mois_comm, 'mois_num': list_mois_num_comm, 'année' : df_annee_comm}
df_date_comm = pd.DataFrame(data=d)
df_date_comm["date"] = pd.to_datetime(dict(year=df_date_comm.année, month=df_date_comm.mois_num, day=1))


delais_comm =[]

for i in range(len(df_date_comm)):
    res = abs((df_date["date"][i].year - df_date_comm["date"][i].year) * 12 + (df_date["date"][i].month - df_date_comm["date"][i].month))
    delais_comm.append(res)


#possibilité de rajouter num semaine, une vraie date au format, ou autres info ??

In [ ]:
# Liste des colonnes à transtyper en numeric
var_tofloat = ['grade_review']
for i in var_tofloat:
    df[i] = df[i].str.replace(",",".")
    df[i] = pd.to_numeric(df[i], downcast="float")

In [144]:
df_nuitee=df['reservation_type'].map(str)
for i in range(df.shape[0]):
    df_nuitee[i]=int(df_nuitee[i].split()[0])

In [146]:
d = {'Country': df["Country"], 'nb_nuit': df_nuitee, 'delais_comm' : delais_comm, 'traveler_infos' : df["traveler_infos"], 'review_title', df["review_title"], }
positive_review 
df_client = pd.DataFrame(data=d)
df_client

          Country nb_nuit  delais_comm
0         Ukraine       2            0
1          France       1            0
2        Belgique       1            0
3          France       1            0
4          France       1            0
...           ...     ...          ...
2280       Brésil       2            0
2281  Royaume-Uni       2            1
2282     Portugal       2            0
2283        Japon       3            0
2284        Japon       2            0

[2285 rows x 3 columns]

In [ ]:
df.to_csv("https://raw.githubusercontent.com/paulineattal/Disney-Text-Mining/main/fichiers/df_clean.csv",sep=';', header=False)