In [12]:
import pandas as pd

# table date

In [154]:
df = pd.read_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/df_clean.csv",sep=';')

In [160]:
df["id_date"] = df["date"].astype(str)
df["id_date"] = df["id_date"].str.replace("-","")

In [161]:
champs_date = ["month_str","month_num","year","date", "id_date"]

In [162]:
df_date = df[champs_date].copy()
df_date.drop_duplicates(keep='first', inplace=True)
df_date.reset_index(drop=True, inplace=True)
df_date.to_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables/date.csv",sep=';', index=False, encoding="utf-8-sig")

In [163]:
df_date

    month_str  month_num  year        date   id_date
0     octobre         10  2022  2022-10-01  20221001
1    décembre         12  2022  2022-12-01  20221201
2    novembre         11  2022  2022-11-01  20221101
3   septembre          9  2022  2022-09-01  20220901
4        août          8  2022  2022-08-01  20220801
5     juillet          7  2022  2022-07-01  20220701
6        juin          6  2022  2022-06-01  20220601
7         mai          5  2022  2022-05-01  20220501
8       avril          4  2022  2022-04-01  20220401
9        mars          3  2022  2022-03-01  20220301
10    février          2  2022  2022-02-01  20220201
11    janvier          1  2022  2022-01-01  20220101
12   novembre         11  2021  2021-11-01  20211101
13   décembre         12  2021  2021-12-01  20211201
14    octobre         10  2021  2021-10-01  20211001
15  septembre          9  2021  2021-09-01  20210901
16       août          8  2021  2021-08-01  20210801
17    juillet          7  2021  2021-07-01  20210701
18       juin          6  2021  2021-06-01  20210601
19    octobre         10  2020  2020-10-01  20201001
20  septembre          9  2020  2020-09-01  20200901
21       août          8  2020  2020-08-01  20200801
22    juillet          7  2020  2020-07-01  20200701
23       mars          3  2020  2020-03-01  20200301
24    février          2  2020  2020-02-01  20200201
25    janvier          1  2020  2020-01-01  20200101
26   décembre         12  2019  2019-12-01  20191201

# Client

In [144]:
champs_client = ["Country", "nuitee", "traveler_infos", "review_title", "positive_review", "negative_review", "usefulness_review"]

In [145]:
df_client = df[champs_client].copy()
df_client.rename(columns={'Country': 'country', 'nuitee': 'nb_night'}, inplace=True)
import uuid
df_client['id_client'] = df_client.apply(lambda _: uuid.uuid4(), axis=1)
df_client.to_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables/client.csv",sep=';', index=False, encoding="utf-8-sig")

# hotel

In [146]:
champs_hotel = ["hotel"]

In [147]:
df_hotel = df[champs_hotel].copy()
df_hotel.drop_duplicates(keep='first', inplace=True)
df_hotel.dropna(inplace=True)
import uuid
df_hotel['id_hotel'] = df_hotel.apply(lambda _: uuid.uuid4(), axis=1)
df_hotel.to_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables/hotel.csv",sep=';', index=False, encoding="utf-8-sig")

# chambre

In [148]:
champs_chambre = ["room_type", "hotel"]

In [149]:
df_room = df[champs_chambre].copy()
df_room.drop_duplicates(keep='first', inplace=True)
df_room.dropna(inplace=True)
import uuid
df_room['id_room'] = df_room.apply(lambda _: uuid.uuid4(), axis=1)
df_room.reset_index(drop=True, inplace=True)

#merge pour avoir id_hotel
df_room=df_room.merge(df_hotel, on='hotel')
df_room.drop(columns=['hotel'], inplace=True)
df_room.to_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables/room.csv",sep=';', index=False, encoding="utf-8-sig")

# Reservation

In [150]:
champs_res=["grade_review", "level_grade_review", "id_date", "room_type"]

In [165]:
df_res = df[champs_res].copy()
import uuid
df_res['id_reservation'] = df_res.apply(lambda _: uuid.uuid4(), axis=1)
df_res.reset_index(drop=True, inplace=True)

#merge pour avoir tous les id
df_res=df_res.merge(df_room[["id_room", "room_type"]],how="outer", on='room_type')
df_res.drop(columns=['room_type'], inplace=True)
df_res = pd.concat([df_res, df_client['id_client']], axis=1) #a concatener pcq yaura le meme nombre de client que de res, et dans le meme ordre !! 
df_res.to_csv("C:/Users/pauli/Documents/M2/Text Mining/projet/Disney-Text-Mining/fichiers/tables/reservation.csv",sep=';', index=False, encoding="utf-8-sig")

In [167]:
df_res["id_room"].unique()

array([UUID('cf5a1a6b-4608-48db-9003-5702acc2f394'),
       UUID('9d0be290-84af-4626-bd0e-6f009d3c29e3'),
       UUID('1e1f96fe-5e4a-47a2-97d4-d85c7b87145d'),
       UUID('c60ffdfa-f7b2-4b51-8caf-4c0caf4c0689'),
       UUID('8bd73e39-eb9c-4d54-a383-9a176d3b91cc'),
       UUID('720be4a7-1f62-4fce-ae16-0486802756d7'),
       UUID('50100aa1-0584-4544-96c1-7bda687a3720'),
       UUID('dc1a1340-a0e0-43f2-8a67-957dececef49'),
       UUID('9095d7ba-9c19-44d7-9e07-89bd77ce5c66'),
       UUID('dacd0b48-d4c8-45db-8f13-9c2d5bb3cd72'),
       UUID('ee183f08-9a58-40b9-a953-215a927f2fd6'),
       UUID('a048f516-2fce-422c-b144-1b1ffc8154d3'),
       UUID('dc1e2cae-0850-42df-a375-3541c3a72c6f'),
       UUID('963302f8-eddd-439e-b030-d21f71eb9eda'),
       UUID('0d9477ec-3e91-42ec-92ed-cf22ff9c06f4'),
       UUID('25ce7855-5d20-4ce7-9c03-bc750803950e'),
       UUID('964fbe19-35a2-4e37-9fe6-9c3b03bcb0c6'),
       UUID('23b36d26-9c8e-4359-a770-560f51b353a1'),
       UUID('bed03b6b-528f-4c27-bca4-e849d5387122'), nan,
       UUID('b9a7777f-0191-488d-8019-91b220fd612a'),
       UUID('54cff1d1-3920-42d9-b60d-8cec34e3cfd3'),
       UUID('598f1211-d7a1-4355-bacb-a4e7776761e9'),
       UUID('b1dd82e4-5591-47e8-897d-c41d3dea111e')], dtype=object)